@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">

            <ul class="nav nav-tabs" id="navTabs">
                <li class="active"><a data-toggle="tab" href="#addCategory">Add Menu Category</a></li>
            </ul>

            <div class="tab-content">
                <div id="addCategory" class="tab-pane fade in active">@Html.ActionLink("CreateMenuCategory","CreateMenuCategory","Home")</div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>





