@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">

            <ul class="nav nav-tabs" id="navTabs">
                <li class="active"><a data-toggle="tab" href="#addCategory">Add Menu Category</a></li>
            </ul>

            <div class="tab-content">
                @*<div id="addCategory" class="tab-pane fade in active">@{await Html.RenderPartialAsync("CreateMenuCategory");}</div>*@
                <div id="addCategory" class="tab-pane fade in active">@await Component.InvokeAsync("CreateMenuCategory")</div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



