
@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">

            <ul class="nav nav-tabs" id="navTabs">
                @foreach (var item in ViewBag.Categories)
                {
                   <li><a data-toggle="tab" class="mx-2" href="#@item.CategoryName" value="@item.MenuCategoryId">@item.CategoryName</a></li>
                }


                <li class="active mx-2" ><a data-toggle="tab" href="#addCategory">Add Menu Category</a></li>
            </ul>

            <div class="tab-content">
                @foreach (var item in ViewBag.Categories)
                {
                    <div id="@item.CategoryName" class="tab-pane fade in">@await Component.InvokeAsync("GetMenuItemsByCategory", new { categoryId = item.MenuCategoryId })</div>
                }


                @*<div id="addCategory" class="tab-pane fade in active">@{await Html.RenderPartialAsync("CreateMenuCategory");}</div>*@
                <div id="addCategory" class="tab-pane fade in active">@await Component.InvokeAsync("CreateMenuCategory")</div>
            </div>
        </div>
        <div class="col-sm-4">
            <h2 class="text-center">Order Items</h2>
            <div class="container-fluid" id="orderBox"></div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



